header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 96px;
    background: var(--color-white);
    border-bottom: 2px solid var(--dark-10);
    padding: 16px 160px;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo-container img {
    width: 36px;
}

.logo-container span {
    color: var(--color-blue);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    text-transform: capitalize;
}

/* nav items */
#nav-left {
    display: flex;
}

#nav-left ul {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

#nav-left ul li {
    display: inline-block;
    height: 24px;

}

#nav-left a {
    color: var(--text-dark-100);
    text-decoration: none;
}

#nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.social-follow img {
    padding: 10px 4px 0px 4px;
    cursor: pointer;
}

#open-github {
    text-align: center;
    float: right;
}



/* body contents */
.contents {
    padding: 60px 160px;
}

.heading-cont {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 60%;
}

.heading-cont h1 {
    font-size: 48px;
    text-transform: capitalize;
    line-height: 56px;
    color: var(--text-dark-90);
}

.heading-cont p {
    color: var(--text-dark-80);
    width: 80%
}