*,
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #1d1d2a;
  padding: 60px 0px;
  margin: 0px 100px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.header {
  display: flex;
  background: #3a394e23;
  padding: 32px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  gap: auto;
  backdrop-filter: blur(60px);
}

.logo_cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 48px;
}

.logo_name {
  font-size: 32px;
  font-weight: 600;
  color: #0cd241fc;
}

.min-scr {
  display: none;
}

.max-scr {
  display: flex;
}

.btn,
.min-scr,
.max-scr {
  font-size: 16px;
  color: #000;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #4dda07fc;
  align-items: center;
  gap: 16px;
  padding: 12px 20px;
  animation: bounce 1s ease-in-out infinite;
}

.btn:hover,
.min-scr:hover,
.max-scr:hover {
  animation: none;
  background: #fff;
  cursor: pointer;
}

h1 {
  color: #e0e5fd
}

.site_links {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  width: auto;
}

.card {
  width: 100%;
  min-width: 160px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.thumb_img {
  width: 100%;
  border-radius: 12px;
}

a {
  color: #fff;
  background: #66ff0075;
  border: #ffeeff 2px solid;
  outline: none;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: #1d1d2a;
  background: #ffeeff;
  transition: all 0.3s ease-in;
}



@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5);
  }
}