body {
  background: #539BF5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

a {
  padding: 16px 24px;
  background: #000;
  color: white;
  text-decoration: none;
  font-size: 32px;
}